.container{
    width: 92%;
    padding: 4%;
}
.title{
    text-align: center;
    font: normal normal bold 20px / 24px Frutiger LT Pro;
    letter-spacing: 0px;
    color: #575c67;
    font-size: 1.3rem;
}
.container-inputs{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    .input{
        width: 29%;
        min-width: 160px;
        margin: 0 2%;
    }
}
.container-button{
    display: flex;
    justify-content: center;
}