.container-dropdown {
    background: #F6F8FD 0% 0% no-repeat padding-box;
    border-radius: 11px;
    // padding: 10px;
    padding: 0.8rem;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content .items-list {
    padding: 0;
    margin: 0;
}

.dropdown-content {
    display: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 30px #083F5F3D;
    border-radius: 0px 0px 20px 20px;
}

.dropdown-content label {
    display: block;
    width: 100%;
    padding: 8px 0;
}

input:checked~.dropdown .dropdown-content {
    position: absolute;
    display: block;
    padding: 0 15px;
    top: 10vh;
    // right: 19.5%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 200;
    animation: animateMenu 0.3s normal ease-out;
}

input:checked~.dropdown .overlay {
    position: absolute;
    display: block;
    width: 98%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 190;
}

.line {
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;

    div {
        width: 95%;
        height: 100%;
        background-color: #b6bccb;
    }
}

.menu-item {
    display: flex;
    justify-content: space-between;

    .notification {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            background: #F6F8FE 0% 0% no-repeat padding-box;
            border-radius: 16px;
            padding: 10px;
            cursor: pointer;
            color: #FFAF00;
            opacity: 1;
        }
    }

    .title-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 300px;
        margin: 0 15px;

        .title {
            font-size: 1.25rem;
            text-align: left;
            font: normal normal bold 20px/24px Frutiger LT Pro;
            letter-spacing: 0px;
            color: #0C1834;
            opacity: 1;
        }

        .description {
            color: #65769C;
            font-size: 0.9rem;
            text-align: left;
            font: normal normal normal 14px/20px Frutiger LT Pro;
            letter-spacing: 0px;
            color: #65769C;
            opacity: 0.8;
        }
    }

    .date-show-all {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .date {
            text-align: right;
            font: normal normal normal 12px/18px Frutiger LT Pro;
            letter-spacing: 0px;
            color: #65769C;
            opacity: 0.6;
            margin: 10px 0;
        }

        .show-all {
            text-align: left;
            text-decoration: underline;
            font: normal normal normal 15px/18px Frutiger LT Pro;
            letter-spacing: 0px;
            color: #5A89D8;
            opacity: 1;
            margin: 10px 0;
            cursor: pointer;
        }
    }

    label {
        font: normal normal bold 18px/30px Frutiger LT Pro;
        letter-spacing: 0px;
        color: #0C1834;
        font-size: 18px;
    }
}

.see-all {
    font: normal normal normal 15px/18px Frutiger LT Pro;
    letter-spacing: 0px;
    color: #5A89D8;
    opacity: 1;
    display: flex;
    justify-content: center;
    margin: 8px 0;
    span{
        cursor: pointer;
    }
}

.material-symbols-outlined {
    color: #1785C6;
}

::ng-deep [dir="rtl"] {
    .material-symbols-outlined {
        direction: rtl;
    }
    input:checked~.dropdown .dropdown-content {
        position: absolute;
        display: block;
        top: 10vh;
        right: 39.5%;
    }
    
}

::ng-deep [dir="ltr"] {
    .material-symbols-outlined {
        direction: ltr;
    }
    input:checked~.dropdown .dropdown-content {
        position: absolute;
        display: block;
        top: 10vh;
        right: 19.8%;
    }
}

:host ::ng-deep [dir="ltr"] {
    .menu-item .title-description {
        margin: 0 20px 0 0;
    }
}

:host ::ng-deep [dir="ltr"] {
    .menu-item .title-description {
        margin: 0 0 0 20;
    }
}
@media only screen and (min-width: 1800px) {
    ::ng-deep [dir="rtl"] {
        input:checked~.dropdown .dropdown-content {
            right: 52.5%;
        }
        
    }
    ::ng-deep [dir="ltr"] {
        input:checked~.dropdown .dropdown-content {
            right: 11.5vw;
        }
    }
  }

mat-icon{
    width: 0px;
}
@keyframes animateMenu {
    0% {
        opacity: 0;
        ;
    }

    100% {
        opacity: 1;
    }
}