<div class="container-vehicles">
    <div class="welcome">Welcome John Doe</div>
    <div class="container-cars-cards-charts">
        <div class="container-cards-cars">
            <app-card-cars [data]="cars"></app-card-cars>
        </div>
        <div class="container-chart-cards">
            <div class="chart">

            </div>
            <div class="container-four-cards">
                <div class="tow-cards">
                    <div><app-card-with-details [data]="cardWithDeatils1"></app-card-with-details></div>
                    <div><app-card-with-details [data]="cardWithDeatils2"></app-card-with-details></div>
                </div>
                <div class="tow-cards">
                    <div><app-card-with-details [data]="cardWithDeatils3"></app-card-with-details></div>
                    <div><app-card-with-details [data]="cardWithDeatils4"></app-card-with-details></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-img">
        <div class="img">
            <div class="content-img">
                <div class="title-content-img">
                    Get a brid's eye <span>view</span>in a snap.
                </div>
                <div class="description-content-img">
                    We equip you with the tools to customise your dashboards and track fleet status,
                    decorations, and violations at a glance. Easily run reports from a high-level
                    overview down to the very last detail.
                </div>
            </div>

        </div>
        <div class="img-setting">

        </div>
    </div>
    <div class="container-maps">
        <div>

        </div>
        <div>

        </div>
    </div>
</div>