@if (config().type !== types.date && config().type !== types.checkbox && formGroup().get(config().key)) {
<mat-form-field class="container-custom-input" [formGroup]="formGroup()">
    <mat-label>{{config().label || ''}}</mat-label>
    @switch (config().type) { 
        @case (types.text) {
            <input matInput [formControlName]="config().key" type="text" [placeholder]="config().placeholder || ''"
            [minlength]="config().minLength || null" [maxlength]="config().maxLength || null"
            [required]="config().required || false" [defaultValue]="config().defaultValue || null"
            [readonly]="config().readonly || false" [name]="config().key">
        } 
        @case (types.number) {
            <input matInput [formControlName]="config().key" type="number" [placeholder]="config().placeholder || ''"
            [min]="config().min || null" [max]="config().max || null" [required]="config().required || false"
            [defaultValue]="config().defaultValue || null" 
            [readonly]="config().readonly || false" [name]="config().key">
        } 
        @case (types.password) {
            <input matInput [formControlName]="config().key" type="password" [placeholder]="config().placeholder || ''"
            [minlength]="config().minLength || null" [maxlength]="config().maxLength || null"
            [required]="config().required || false" [defaultValue]="config().defaultValue || null"
            [readonly]="config().readonly || false" [name]="config().key">
        } 
        @case (types.select) {
            <mat-select [formControlName]="config().key" [multiple]="config().multiple"
                        [placeholder]="config().placeholder || ''"
                        [required]="config().required || false" [value]="config().defaultValue || null"
                        [disabled]="config().disabled || false">
                @for (item of config().options; track $index) {
                <mat-option [value]="item.value">{{item.label}}</mat-option>
                }
            </mat-select>
        } 
        @default {
            <div>Input Type is not Support yet!!! comming soon...</div>
        } }
    @if (formGroup().get(config().key)?.hasError('required')) {
    <mat-error>
        {{config().label || ''}} is required
    </mat-error>
    }

    @else if (formGroup().get(config().key)?.hasError('minlength')) {
    <mat-error>
        {{config().label}} must be more {{formGroup().get(config().key)?.errors?.['minlength']?.requiredLength -1}}
        characters
    </mat-error>
    }

    @else if (formGroup().get(config().key)?.hasError('maxlength')) {
    <mat-error>
        only {{formGroup().get(config().key)?.errors?.['maxlength']?.requiredLength}}
        characters is allowed
    </mat-error>
    }

    @else if (formGroup().get(config().key)?.hasError('min')) {
    <mat-error>
        {{config().label}} must be more than {{formGroup().get(config().key)?.errors?.['min']?.min}}
    </mat-error>
    }
    @else if (formGroup().get(config().key)?.hasError('max')) {
    <mat-error>
        {{config().label}} must be less than {{formGroup().get(config().key)?.errors?.['max']?.max}}
    </mat-error>
    }
</mat-form-field>
}

@else if (config().type === types.date && formGroup().get(config().key)) {
<mat-form-field class="container-custom-input" [formGroup]="formGroup()">
    <mat-label>{{config().label || ''}}</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="config().key" [placeholder]="config().placeholder || ''"
        [required]="config().required || false" [defaultValue]="config().defaultValue"
        [readonly]="config().readonly || false">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
}
@else if (config().type == types.checkbox && formGroup().get(config().key)) {
<section class="container-custom-input" [formGroup]="formGroup()">
    <mat-checkbox [formControlName]="config().key" [required]="config().required || false" [name]="config().key">
        {{config().label || ''}}
    </mat-checkbox>
    @if (formGroup().get(config().key)?.hasError('required')) {
    <mat-error>
        {{config().label || ''}} is required
    </mat-error>
    }
    <!-- [ngModel]="config().defaultValue ? config().defaultValue : false" -->
</section>
}